/*.debhelper
/*.log
/*.substvars
/files
/libopencv-dev/
/libopencv-calib3d2.2/
/libopencv-contrib2.2/
/libopencv-core2.2/
/libopencv-features2d2.2/
/libopencv-flann2.2/
/libopencv-gpu2.2/
/libopencv-highgui2.2/
/libopencv-imgproc2.2/
/libopencv-legacy2.2/
/libopencv-ml2.2/
/libopencv-objdetect2.2/
/libopencv-video2.2/
/opencv-doc/
/python-opencv/
/tmp/
