Source: opencv
Priority: optional
Section: devel
Maintainer: Debian Scientific Computing Team <pkg-scicomp-devel@lists.alioth.debian.org>
Uploaders: Sam Hocevar (Debian packages) <sam+deb@zoy.org>, Nobuhiro Iwamatsu <iwamatsu@debian.org>
Build-Depends: debhelper (>= 8), quilt (>= 0.46-7~), cmake,
 libavcodec-dev (>= 0.svn20080206), libavformat-dev, libswscale-dev, libgtk2.0-dev,
 libjasper-dev, libjpeg62-dev, libpng12-dev, libtiff4-dev,
 libraw1394-dev [!kfreebsd-amd64 !kfreebsd-i386 !hurd-i386],
 libdc1394-22-dev [!kfreebsd-amd64 !kfreebsd-i386 !hurd-i386],
 zlib1g-dev, liblapack-dev, python-dev, swig, python-support (>= 0.4.1), python-numpy,
 texlive-fonts-extra, texlive-latex-extra, texlive-latex-recommended,
 latex-xcolor, texlive-fonts-recommended
Standards-Version: 3.9.2
Vcs-Svn: svn://anonscm.debian.org/pkg-scicomp/opencv/
Vcs-Browser: http://anonscm.debian.org/viewvc/pkg-scicomp/opencv/
Homepage: http://opencvlibrary.sourceforge.net/

Package: opencv-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Conflicts: libopencv-doc
Replaces: libopencv-doc
Description: OpenCV documentation and examples
 This package contains the OpenCV documentation and example programs.
 .
 The Open Computer Vision Library is a collection of algorithms and sample
 code for various computer vision problems. The library is compatible with
 IPL (Intel's Image Processing Library) and, if available, can use IPP
 (Intel's Integrated Performance Primitives) for better performance.
 .
 OpenCV provides low level portable data types and operators, and a set
 of high level functionalities for video acquisition, image processing and
 analysis, structural analysis, motion analysis and object tracking, object
 recognition, camera calibration and 3D reconstruction.

Package: libopencv-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
	 libopencv-core2.2 (= ${binary:Version}),
	 libopencv-calib3d2.2 (= ${binary:Version}),
	 libopencv-contrib2.2 (= ${binary:Version}),
	 libopencv-features2d2.2 (= ${binary:Version}),
	 libopencv-flann2.2 (= ${binary:Version}),
	 libopencv-gpu2.2 (= ${binary:Version}),
	 libopencv-highgui2.2 (= ${binary:Version}),
	 libopencv-imgproc2.2 (= ${binary:Version}),
	 libopencv-legacy2.2 (= ${binary:Version}),
	 libopencv-ml2.2 (= ${binary:Version}),
	 libopencv-objdetect2.2 (= ${binary:Version}),
	 libopencv-video2.2 (= ${binary:Version}),
	 pkg-config
Suggests: opencv-doc
Conflicts: libcv-dev, libcvaux-dev, libhighgui-dev
Replaces: libcv-dev, libcvaux-dev, libhighgui-dev
Provides: libcv-dev, libhighgui-dev
Description: development files for OpenCV
 This package contains the header files and static library needed to compile
 applications that use any of the OpenCV (Open Computer Vision) libraries.
 .
 The Open Computer Vision Library is a collection of algorithms and sample
 code for various computer vision problems. The library is compatible with
 IPL (Intel's Image Processing Library) and, if available, can use IPP
 (Intel's Integrated Performance Primitives) for better performance.
 .
 OpenCV provides low level portable data types and operators, and a set
 of high level functionalities for video acquisition, image processing and
 analysis, structural analysis, motion analysis and object tracking, object
 recognition, camera calibration and 3D reconstruction.

Package: libopencv-core2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, core components
 This package contains the OpenCV (Open Computer Vision) core runtime
 library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: libopencv-calib3d2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, 3D calibration components
 This package contains the OpenCV (Open Computer Vision) 3D
 calibration runtime library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: libopencv-contrib2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, misc contribted components
 This package contains the OpenCV (Open Computer Vision) 2D feature
 detection runtime library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: libopencv-features2d2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, 2D features
 This package contains the OpenCV (Open Computer Vision) 2D feature
 detection runtime library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: libopencv-flann2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, fast approximate nearest neighbors
 This package contains the OpenCV (Open Computer Vision) fast
 approximate nearest neighbor finding runtime library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: libopencv-gpu2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, GPU components
 This package contains the OpenCV (Open Computer Vision) GPU
 runtime library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: libopencv-highgui2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, GUI components
 This package contains the OpenCV (Open Computer Vision) GUI
 runtime library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: libopencv-imgproc2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, image processing components
 This package contains the OpenCV (Open Computer Vision) image
 processing runtime library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: libopencv-legacy2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, legacy components
 This package contains the OpenCV (Open Computer Vision) legacy
 runtime library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: libopencv-ml2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, machine learning components
 This package contains the OpenCV (Open Computer Vision) machine
 learning runtime library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: libopencv-objdetect2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, object dection components
 This package contains the OpenCV (Open Computer Vision) object
 detection runtime library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: libopencv-video2.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer vision library, video components
 This package contains the OpenCV (Open Computer Vision) video
 runtime library.
 .
 The Open Computer Vision Library is a collection of algorithms and
 sample code for various computer vision problems. The library is
 compatible with IPL (Intel's Image Processing Library) and, if
 available, can use IPP (Intel's Integrated Performance Primitives)
 for better performance.
 .
 OpenCV provides low level portable data types and operators, and a
 set of high level functionalities for video acquisition, image
 processing and analysis, structural analysis, motion analysis and
 object tracking, object recognition, camera calibration and 3D
 reconstruction.

Package: python-opencv
Section: python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Replaces: python2.3-opencv (<= 0.9.7-3)
Conflicts: python2.3-opencv (<= 0.9.7-3)
Description: Python bindings for the computer vision library
 This package contains Python bindings for the OpenCV (Open Computer Vision)
 library.
 .
 The Open Computer Vision Library is a collection of algorithms and sample
 code for various computer vision problems. The library is compatible with
 IPL (Intel's Image Processing Library) and, if available, can use IPP
 (Intel's Integrated Performance Primitives) for better performance.
 .
 OpenCV provides low level portable data types and operators, and a set
 of high level functionalities for video acquisition, image processing and
 analysis, structural analysis, motion analysis and object tracking, object
 recognition, camera calibration and 3D reconstruction.

