#!/usr/bin/make -f

CMAKE_FLAGS = \
	-DCMAKE_BUILD_TYPE=Release	\
	-DENABLE_SSE=OFF	\
	-DENABLE_SSE2=OFF	\
	-DENABLE_SSE3=OFF	\
	-DENABLE_SSSE3=OFF	\
	-DUSE_FAST_MATH=ON	\
	-DUSE_O3=OFF	\
	-DUSE_OMIT_FRAME_POINTER=ON	\
	-DBUILD_EXAMPLES=ON	\
	-DINSTALL_C_EXAMPLES=ON	\
	-DINSTALL_OCTAVE_EXAMPLES=OFF	\
	-DINSTALL_PYTHON_EXAMPLES=ON	\
	-DBUILD_NEW_PYTHON_SUPPORT=ON	\
	-DBUILD_SWIG_PYTHON_SUPPORT=ON	\
	-DBUILD_OCTAVE_SUPPORT=OFF	\
	-DUSE_IPP=ON	\
	-DWITH_FFMPEG=ON	\
	-DWITH_GSTREAMER=OFF	\
	-DWITH_GTK=ON	\
	-DWITH_JASPER=ON	\
	-DWITH_JPEG=ON	\
	-DWITH_PNG=ON	\
	-DWITH_TIFF=ON	\
	-DWITH_PVAPI=ON	\
	-DWITH_TBB=OFF	\
	-DWITH_UNICAP=OFF	\
	-DWITH_1394=ON	\
	-DWITH_V4L=ON	\
	-DWITH_XINE=OFF	\
	-DBUILD_TESTS=OFF \
	-DBUILD_LATEX_DOCS=ON \
	-DCMAKE_SKIP_RPATH=ON

%:
	dh $@ --with quilt --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_install:
	-rm --verbose -r debian/tmp/usr/share/opencv/samples/octave
	-rm --verbose debian/tmp/usr/share/opencv/samples/c/cvsample.dsp
	chmod --verbose +x debian/tmp/usr/share/opencv/samples/c/build_all.sh
	echo static > debian/tmp/usr/lib/libopencv_BUILD_THE_STATIC_LIBS.a
	dh_install -O--buildsystem=cmake --list-missing
